#top {
    position: relative;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    border-width: 0px;
    border-collapse: collapse;
    clear: both;
}

#left {
    float: left;
    clear: none;
    width: 15%;
    padding: 0px;
    background-repeat: no-repeat !important;
}

#content {
    width: 80%;
    float: left;
    clear: none;
    font-size: small;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.leftColumn .ui-state-default {
    width: 2%;
    text-align: left;
}

.rightColumn tr td {
    margin-left: 15px;
    color: red;
}

.whiteCell tr td {
    background: white;
    color: blue;
}

.redCell tr td {
    background: salmon;
    color: white;
}

.ui-datatable-scrollable-header-box {
    padding-right: 16px !important; /*originally this is 40px*/
 }
 
.ui-datatable-scrollable-body {
    overflow-y: scroll !important;
}
