* {
    overflow: visible;
}
body {
    background-color: #ffffff;
    font-size: medium;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    /*border-bottom: 1px solid #AFAFAF; */
    font-size:  16px;
    font-weight: bold;
    margin: 1em;
    padding: 0px;
    color: #000000;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

.container {
    margin: 0px;
    padding: 0px;
    text-align: right;
}

.custom tr {
    margin: 2em auto;
}
.custom td {
    top: 0px;
    left: auto;
    margin: 0px;
    vertical-align: top !important;
    border-style: hidden !important;
}

.custom2 tr {
    margin: 0px;
    padding: 0px;
}
.custom2 td {
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    vertical-align: middle !important;
}

.colhdr {
    background-color: #ece3a5;
}
.myStyle {
    color: white;
    background: blue;
}

.radioHorizontal {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-style: hidden !important;
}

.banner,
.banner .ui-widget-content {
    background-color: #313338;
}

.ui-spinner .ui-spinner-input {
    width: 50px;
}

.ui-datatable tbody td.wrap {
    white-space: normal;
    word-wrap: break-word;
}

.infoMessage {
    font-size: 1.25em;
    background-color: lightskyblue;
    color: black;
    width: 40%;
    margin: auto;
    padding: .5em;
    list-style: none;
}

.warnMessage {
    font-size: 1.25em;
    background-color: lemonchiffon;
    color: black;
    width: 40%;
    margin: auto;
    padding: .5em;
    list-style: none;
}

.errorMessage {
    font-size: 1.25em;
    background-color: lightcoral;
    color: black;
    width: 40%;
    margin: auto;
    padding: .5em;
    list-style: none;
}

.fatalMessage {
    font-size: 1.25em;
    background-color: crimson;
    color: black;
    width: 40%;
    margin: auto;
    padding: .5em;
    list-style: none;
}

.plain.ui-breadcrumb {
    background-color: #ffffff;
    background-image: none;
    border: none;
}