body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    /*border-bottom: 1px solid #AFAFAF; */
    font-size:  16px;
    font-weight: bold;
    margin: 1em;
    padding: 0px;
    color: #000000;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

.custom tr {
    margin: 2em auto;
}
.custom td {
    top: 0px;
    left: auto;
    margin: 0px;
    vertical-align: top !important;
    border-style: hidden !important;
}

.custom2 tr {
    margin: 2em auto;
}
.custom2 td {
    top: 0px;
    left: auto;
    margin: 0px;
    vertical-align: top !important;
    border-style: hidden !important;
    background: skyblue;
}

.myStyle {
    color: white;
    background: blue;
}

.ui-dialog-contain {
    opacity: 1 !important;
    background: #FFFFFF !important;
}

.ui-dialog .ui-header .ui-btn-icon-notext {
    display: none !important;
}

.ui-dialog-background {
    opacity: 0.5;
    display: block !important;
    -webkit-transition: opacity 0.5s ease-in;
}

.ui-dialog-background.pop.in {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in;
}

.ui-dialog {
    min-height: 100% !important;
    background: transparent !important;
}

.banner,
.banner .ui-widget-content {
    background-color: #313338;
    background-image: url("../images/ma-logo.png");
    background-repeat: no-repeat;
    background-position: 10px;
}